HTML, body{margin:0;padding:0;box-sizing: border-box; height:100%;}
#gameContainer{
    background-color:beige;
    padding:20px;
    font-size:3em;
    letter-spacing: 1rem;
    text-align: center;
}
#buttonContainer button{
    font-size: 2rem;
    width:2.75rem;
    height:2.75rem;
    margin: 2rem 1rem;
}
#buttonContainer{
    /* Not empty*/
    text-align: center;
}
#statusWord{
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align:center;
}
#stats{
    background:grey;
    color:white;
    padding:10px;
}