HTML, body{margin:0;padding:0;box-sizing: border-box; height:100%;}
body{}
#gameContainer{
    background-color:beige;
    padding:20px;
    font-size:3em;
    letter-spacing: 1rem;
}
#btnContainer button{
    font-family: monospace;
    font-size: x-large;
    margin-right:0.5em;
    text-transform: uppercase;
}
#statusWord{
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align:center;
}